/*Fonte Nunito*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: clamp(1.2em, 3vw, 1.5em)
}

h2 {
    font-size: clamp(1em, 2vw, 1.2em)
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    display: flex;
    background-color: #FEFEFE;
    color: #2E2E2E;
}



/*Estilização do logo-------------*/
.logo {
    width: 80%;
    margin-bottom: 15%;
    align-self: center;
}

/* -------------------------------*/

.perfil {
    width: 70%;
    text-align: center;
}

/*Conteiner principal do nav-bar*/
nav {
    width: 15%;
    height: 100%;
    padding: 2% 0;
    border-radius: 0 20px 20px 0;
    background-color: #A992F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.nav-item {
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 5%;
    color: #FAFAFA;
    font-weight: bold;
    font-family: "Nunito";
}

.nav-item>img {
    width: 10%;
    padding: 5%;
    display: flex;
    align-items: center;
    gap: 5%;
    color: #FAFAFA;
}

.nav-item:hover {
    background-color: #8560F9;
    cursor: pointer;
}

.selecionado {
    background-color: #6343C7;
}


.select-radio {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.option {
    width: 100%;
}

.option input {
    display: none;
}

.option label {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0 10px 20px;
    cursor: pointer;
    transition: .2s;
    user-select: none;
    color: #FAFAFA;
}

/* Cor quando selecionado */
.option input:checked+label {
    background-color: #8560F9;
}

/* Hover */
.option label:hover {
    background-color: #C5B3FF;
}

.iconeUTI {
    width: 10%;
    padding: 5%;
    display: flex;
    align-items: center;
    gap: 5%;
    color: #FAFAFA;
}




.exit {
    display: flex;
    justify-content: center;
}

.exit>img {
    width: 20%;
}



/**/
main {
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}